export PIPX_HOME="$ENV_DIR/.direnv"
export PIPX_BIN_DIR="$ENV_DIR/.direnv/bin"
export USE_EMOJI=false

export JUPYTER_CONFIG_DIR="$ENV_DIR/.direnv/jupyter/config"
export JUPYTER_DATA_DIR="$ENV_DIR/.direnv/jupyter/data"
export JUPYTER_RUNTIME_DIR="$ENV_DIR/.direnv/jupyter/runtime"
export JUPYTER_PATH="$ENV_DIR:$JUPYTER_PATH"

export PATH="$ENV_DIR/.direnv/bin:$PATH"

if [ ! -d $ENV_DIR/.direnv ]; then
    echo "Install dependencies"

    pipx install jupyter --include-deps
    pipx inject jupyter RISE
    pipx inject jupyter jupyter_contrib_nbextensions
    jupyter contrib nbextension install --user
    jupyter nbextension enable splitcell/splitcell

    pipx inject jupyter git+https://github.com/akaihola/ipython_pytest.git
    pipx inject jupyter pytest
    pipx inject jupyter assertpy
    pipx inject jupyter factory_boy

    pipx inject jupyter git+https://github.com/rodfersou/jakenpo.git
fi

export_alias I "jupyter notebook --ip 0.0.0.0 --no-browser"
